<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Index</h1>
    <form class="" action="/weather" method="get">
      <label for="location">Location</label>
      <input type="text" name="address">
      <input type="submit">
    </form>
  </body>
</html>
